* {
    margin:0;
    padding:0;  
    font-family: fantasy;
  }
  
  .header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(227, 200, 160);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

img {
  background-blend-mode: screen;
  width: 50px;
  height: 100px;
}


.content {
  width: 80%;
  display:inline-block;
  text-align: center;
  
}